<div class="row">
  <div class="left_selection large-6 centered columns">
    <a href="/games/single" class="button round button_users">Single Player</a>

  </div>
  <div class="right_selection large-6 centered columns">
    <a href="/games/multi" class="button round button_users">Multiplayer</a>
  </div>
</div>

