<div class="row">
  <div class="left_selection large-6 centered columns">
<%= button_to "Single Player", games_single_path, :class => 'button_users' %>

  </div>
  <div class="right_selection large-6 centered columns">
<%= button_to "Multi Player", games_single_path, :class => 'button_users' %>
  </div>
</div>

