<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="multi">
  <canvas width='300' height='600'></canvas>
  <%= javascript_include_tag "rubyrage" %>
  <%= javascript_include_tag "game_setup" %>
  <%= javascript_include_tag "game_render" %>

  <canvas width='200'></canvas>
  <canvas width='300' height='600'></canvas>

<bR><a href="/games/dashboard" class="button round">Back to Dashboard</a>
</div>
</body>
</html>

