<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <canvas width='300' height='600'></canvas>
  <%= javascript_include_tag "rubyrage" %>
  <%= javascript_include_tag "game_setup" %>
  <%= javascript_include_tag "game_render" %>

  <br><a href="/games/dashboard" class="button round">Back to Dashboard</a>
</body>
</html>

