<!DOCTYPE html>
<html>
<head>
  <title>RubyRage</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <p>INSERT TITLE</p>
<% if @current_user %>
   <%= @current_user.email %>
<% end %>

  <canvas width='300' height='600'></canvas>
  <%= javascript_include_tag "rubyrage" %>
  <%= javascript_include_tag "game_setup" %>
  <%= javascript_include_tag "game_render" %>
</body>
</html>

