
<div class="row">
  <div class="large-centered">
    <br>
    <br>
    <br>
    <%= image_tag("big_ruby.png") %>

    <h1 class="big-ass-text small-12">Ruby on Rage</h1>

    <%= link_to 'PRESS PLAY', new_session_path, id:'welcomePlay', class:'play button round large', remote: true %>
    <div class="form_area"></div>
    <div class="signup_area"></div>

  </div>

</div>