
<div class="row">
  <div class="small-4 large-centered columns">
    <%= image_tag("FF1_Ruby.png") %>

    <h1 class="title">Ruby on Rage</h1>

    <%= link_to 'Play!', new_session_path, id:'welcomePlay', class:'play button large', remote: true %>
    <div class="form_area"></div>
    <div class="signup_area"></div>

  </div>

</div>