<div class="row">
  <div class="left_selection large-6 centered columns">
    <a href="/games/single" class="button round button_users">Single Player</a>

  </div>
  <div class="right_selection large-6 centered columns">
    <div class="button round button_users" id="multiselect">Multiplayer</div>
    <div class="dropdown_current_users"></div>



  </div>
</div>

