<div class="row">
  <div class="left_selection large-6 centered columns">
    <a href="/games/single" class="button round button_users">Single Player</a>

  </div>
    <%= link_to 'Multiplayer', sessions_recentsessions_path, id:'multiselect', class:'button round button users', remote: true %>
    <div class="dropdown_current_users"></div>



  </div>
</div>

