
<div class="multi">
  <canvas width='300' height='600'></canvas>

  <canvas width='200'></canvas>
  <canvas width='300' height='600'></canvas>

  <br><a href="/games/dashboard" class="button round">Back to Dashboard</a>
</div>
  <%= javascript_include_tag "rubyrage" %>