<%= render 'rubymonset' %>

<div id="start-button">Start Battle</div><br>
<div id="battle-button">Broadcast Battle</div><br>
<a href="/games/dashboard" class="button round">Back to Dashboard</a>

<div class="multi">
  <canvas width='300' height='480' id="gameboard"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->
  <canvas width='50' height='100' id="preview"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->

  <canvas width='200'></canvas>
  <canvas width='50' height='100' id="opponent-preview"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->
  <canvas width='300' height='480' id="opponent-gameboard"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->
</div>

<%= javascript_include_tag "rubyrage" %>