
<%= render 'rubymonset' %>

<canvas width='300' height='480' id="gameboard"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->
<canvas width='50' height='100' id="preview"></canvas> <!-- TODO: NEED TO MAKE IT RESPONSIVE -->

<br>
<a href="/games/dashboard" class="button round">Back to Dashboard</a>
<div id="start-button" class="button round">Start game</div>

<%= javascript_include_tag "rubyrage" %>
