@font-face {
  font-family: 'brush_strokes';
  src: url('brush_strokes.ttf');
}

canvas {
  border: 5px solid #890043;
  margin-top: 60px;
}

.form_area {
  display: none;
}

body{
  text-align: center;
  /*background: #FF8566;*/
  height: 1000px;
}


.button_users {
  margin: auto;
  margin-top: 125px;
  padding: 50px;
  font-family: 'brush_strokes', cursive;
}

.left_selection {
  border-right: 3px dashed gray;
  height: 755px;
}

.right_selection {
  height: 755px;
}

.big-ass-text {
  font-family: 'brush_strokes', cursive;
  font-size: 140px;
}

nav.top-bar {
  background: #890043;
}

.right_bar {
  background: #890043;
}

.top-bar {
  margin-bottom: 0;
}

.columns.large-centered {
  margin-top: 125px;
}

.navbar_font {
  font-family: 'brush_strokes', cursive;
}

.top-bar-section li a:not(.button) {
  background: #890043;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-left: #890043;
  border-right: #890043;
}

#rubymon-set {
  display: none;
}

/*#gamebackground {
  background: url('stains_surface.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}*/

.list_of_users {
  /*background: #FF8566;*/
  border: none;
  text-align: center;
}

#channel-name {
  display: none;
}

.paperbg {
  background: url('lightpaperfibers.png');
  background-repeat: repeat;
  background-attachment:fixed;
  background-position:center;
}
