<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Ruby Rage", root_path, :class => "navbar_font" %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">


    <!-- Right Nav Section -->

    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown not-click">
          <% if @current_user %>
        <a class="menubar_user">
          <%= @current_user.username %>
          <% else %>
          <%= link_to "Create Account", new_user_path %>
        </a>
                  <% end %>
        <% if @current_user %>
        <ul class="dropdown">
          <li class><%= link_to "Sign Out", log_out_path %></li>
        </ul>
        <% end %>
      </li>
    </section>
  </nav>